.cart-cart-container {
  max-width: 1536px;
  margin: auto;
  padding: 1rem;
  background-color: antiquewhite;
}

.cart-cont {
  width: 100%;
  justify-content: space-evenly;
  display: flex;
}

.cart-sum {
  display: flex;
  background-color: white;
  border-radius: 0.5rem;
  margin: 1rem;
  justify-content: space-around;
}

.prod-sum {
  align-items: center;
  display: flex;
  padding: 10px;
  cursor: pointer;
}
.prod-sum:hover {
  background-color: rgba(226, 226, 226, 0.336);
  border-radius: 8px;
}
.image-prod {
  width: 50px;
  height: 50px;
  padding: 1rem;
  background-color: rgba(137, 43, 226, 0.171);
}
.text-prod {
  padding: 1rem;
  display: flex;
  flex-direction: column;
}
.text-prod-title {
  text-wrap: wrap;
}
.delete-col {
  padding: 1rem;
  display: flex;
  align-items: center;
  align-self: center;
  flex-direction: column;
}
.delete-btn {
  cursor: pointer;
  color: red;
  justify-content: space-around;
}

/*////*/
.cart-sum {
  background-color: white;
  border-radius: 0.5rem;
  margin: 1rem;
  padding: 1rem;
}

.cart-sum-col {
  display: flex;
  gap: 10px;
  flex-direction: column;
}
.cart-spacebtw {
  justify-content: space-between;
}
.checkout-btn {
  color: white;
  padding: 1rem;
  border-radius: 1.5rem;
  margin: auto;
  border: none;
  background-color: black;
  cursor: pointer;
}
@media (max-width: 1536px) {
  .single-container {
    max-width: 1280px;
  }
}

@media (max-width: 480px) {
  .cart-cont {
    display: flex;
    flex-direction: column;
  }
}
