.prod-box {
  border-radius: 5px;
  /* height: 27rem; to increase product box height */
  height: fit-content;
  max-width: 100%;
  margin: 5px;
  background-color: white;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1),
    0px 4px 6px -4px rgba(0, 0, 0, 0.1);
}

.prod-in {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.prod-sub {
  align-items: center;
  margin: auto;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  text-wrap: nowrap;
}

.prod-in .image {
  border-radius: 5px 5px 0px 0px;
  width: 100%;
  height: 100%;
}
.prod-title {
  padding: 5px;
  text-align: center;
  text-wrap: wrap;
}
.price {
  font-size: 20px;
  font-weight: 600;
  color: grey;
}

@media (max-width: 1536px) {
}

@media (max-width: 1280px) {
}
@media (max-width: 1024px) {
}
@media (max-width: 768px) {
}
@media (max-width: 640px) {
}

@media (max-width: 475px) {
  /* .prod-box {
    height: 100%;
  } */
}
